/*-------------------- Variaveis --------------------*/

 :root {
    --font-primary: 'Montserrat', sans-serif;
    --font-secondary: 'Noto Sans JP', sans-serif;
    --color-light-green: #4c956c;
    --color-brown: #ffc9b9;
    --color-green: #376c4e;
}


/*-------------------- Globais --------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
}

.container {
    max-width: min(90vw, 1600px);
    margin: auto;
}

ol,
ul,
li {
    list-style: none;
}

h1,
h2,
h3,
h4 {
    font-family: var(--font-primary);
}

p,
a {
    font-family: var(--font-secondary);
}

a {
    text-decoration: none;
}

section {
    padding: 2.5rem 0;
}


/*-------------------- Header --------------------*/

header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 9999;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 0px 32px;
}

.sticky {
    background-color: white;
}

.sticky .logo h1 {
    color: var(--color-light-green);
}

.sticky .menu ul li a {
    color: var(--color-light-green);
}

.navbar.active.sticky .menu ul li a {
    color: white;
}

header .logo {
    color: white;
    display: flex;
    align-items: center;
}

header .logo img {
    width: 45px;
    height: 100%;
    margin-right: 1rem;
}

header .menu {
    position: relative;
}

header .menu ul {
    display: flex;
}

header .menu ul li {
    padding: 10px;
    transition: 0.4s;
    display: flex;
}

header .menu ul li:hover {
    background-color: var(--color-brown);
    color: white;
    height: 100%;
}

header .menu ul li a {
    text-transform: uppercase;
    font-size: 1rem;
    color: white;
    text-decoration: none;
}

.burgue {
    position: absolute;
    right: 2rem;
}

.openMenu {
    color: white;
    font-size: 1.8rem;
    display: none;
    cursor: pointer;
}

.closeMenu {
    color: white;
    font-size: 1.8rem;
    display: none;
    cursor: pointer;
}


/*-------------------- Banner --------------------*/

.banner {
    background-image: url('/img/bg-home.jfif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 0;
    background-position: center;
}

.banner .shadow {
    background-color: rgba(76, 149, 108, 0.6);
    width: 100%;
    height: 100%;
}

.banner .banner-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 20vh;
}

.banner .banner-content h1 {
    font-weight: 700;
    font-size: 5rem;
    color: white;
    text-shadow: 5px 8px 10px rgba(0, 0, 0, 0.2);
    z-index: 999;
    font-family: 'Merienda', cursive;
}

.banner .banner-content h2 {
    margin-bottom: 4.5rem;
    color: white;
    z-index: 999;
    padding: 30px;
    font-family: 'Merienda', cursive;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn a {
    cursor: pointer;
    border: none;
    background-color: var(--color-green);
    padding: 8px;
    border-radius: 6px;
    transition: 0.4s;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}

.btn a:hover {
    background-color: var(--color-light-green);
}


/*-------------------- Sobre --------------------*/

.sobre {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.sobre h1 {
    font-weight: 700;
    font-size: 3rem;
    color: var(--color-light-green);
    margin-bottom: 2rem;
    text-transform: uppercase;
    text-shadow: 5px 8px 10px rgba(0, 0, 0, 0.2);
    font-family: 'Merienda', cursive;
}

.sobre .content-sobre {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sobre-img {
    width: 50vw;
    text-align: center;
}

.sobre .content-sobre img {
    width: 30vw;
    border-radius: 8px;
    box-shadow: -30px -30px 0px rgb(76, 149, 108);
}

.sobre .content-sobre p {
    font-family: (--font-secondary);
    margin-bottom: 1rem;
    text-align: justify;
    font-size: 1.4rem;
    font-family: 'Merienda', cursive;
}

.sobre .sobre-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px 20px;
    width: 50vw;
}

.sobre a {
    cursor: pointer;
    border: none;
    background-color: var(--color-green);
    padding: 8px;
    border-radius: 6px;
    transition: 0.2s ease-in;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 8px;
}

.sobre a:hover {
    background: var(--color-light-green);
}


/*-------------------- Serviços --------------------*/

.servicos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.servicos h1 {
    margin-bottom: 2rem;
    font-weight: 700;
    font-size: 3rem;
    color: var(--color-light-green);
    text-transform: uppercase;
    text-shadow: 5px 8px 10px rgba(0, 0, 0, 0.2);
    font-family: 'Merienda', cursive;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.middle {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card {
    cursor: pointer;
    width: 350px;
    height: 350px;
}

.front,
.back {
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
}

.front .shadow {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards h2 {
    text-align: center;
    font-size: 2rem;
    color: white;
    text-transform: uppercase;
    text-shadow: 5px 8px 10px rgba(0, 0, 0, 0.2);
}

.card01 {
    background-image: url('/img/cromo-img.jpg');
    background-size: cover;
}

.card02 {
    background-image: url('/img/quantica-img.jpg');
    background-size: cover;
}

.card03 {
    background-image: url('/img/florais-img.jpg');
    background-size: cover;
}

.card04 {
    background-color: red;
    background-size: cover;
}

.card05 {
    background-image: url('/img/aroma-img.jpg');
    background-size: cover;
}

.card06 {
    background-image: url('/img/limpeza-img.jpg');
    background-size: cover;
}

.card07 {
    background-image: url('/img/fitoterapia-img.jpg');
    background-size: cover;
}

.card08 {
    background-image: url('/img/radiestesia-img.jpg');
    background-size: cover;
}

.card09 {
    background-image: url('/img/moxa-img.jpg');
    background-size: cover;
}

.card10 {
    background-image: url('/img/auriculo-img.jpg');
    background-size: cover;
}

.card11 {
    background-image: url('/img/xamanico-img.jpg');
    background-size: cover;
}

.card12 {
    background-color: red;
    background-size: cover;
}

.front {
    transform: perspective(600px) rotateY(0deg);
}

.back {
    background: var(--color-green);
    transform: perspective(600px) rotateY(180deg);
}

.back-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 0px 40px;
    width: 100%;
}

.back-content h2 {
    margin-top: -1rem;
    margin-bottom: 2rem;
}

.back-content span {
    color: var(--color-brown);
    text-align: center;
}

.card:hover>.front {
    transform: perspective(600px) rotateY(-180deg);
}

.card:hover>.back {
    transform: perspective(600px) rotateY(0deg);
}


/*-------------------- Contato --------------------*/

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    align-items: center;
}

.news {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.news p {
    font-family: var(--font-primary);
    font-size: 1.5rem;
}

.news form {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}

.news form .form-itens {
    padding: 1rem 0.5rem;
    position: relative;
}

.news form .form-itens input {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    border-bottom: 1px solid var(--color-light-green);
    width: 100%;
    background-color: transparent;
    outline: none;
    font-size: 1em;
    padding: 10px 0;
}

.news form .form-itens label {
    font-family: var(--font-primary);
    color: var(--color-green);
    left: 10px;
}

input~label {
    position: absolute;
    top: 16px;
    left: 0;
    color: var(--color-green);
    transition: 0.4s;
}

input:focus~label,
input:valid~label {
    transform: translateY(-20px);
    font-size: 0.8em;
    letter-spacing: 0.1em;
}

.news button {
    cursor: pointer;
    border: none;
    background-color: var(--color-green);
    padding: 8px;
    border-radius: 6px;
    transition: 0.2s ease-in;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 8px;
}

.news button:hover {
    background-color: var(--color-light-green);
    color: white;
}

.img-news {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-news img {
    width: 30vw;
    height: 100%;
}


/*-------------------- Footer --------------------*/

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: var(--color-green);
    text-align: center;
}

.footer .footer-logo {
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer .footer-logo img {
    width: 4rem;
    padding-left: 20px;
}

.footer .footer-menu ul {
    display: flex;
}

.footer .footer-menu ul li {
    padding: 10px;
    transition: 0.4s;
    display: flex;
}

.footer .footer-menu ul li a {
    text-transform: uppercase;
    font-size: 1rem;
    color: black;
    text-decoration: none;
}

.footer .footer-menu ul li a:hover {
    color: var(--color-light-green);
}

.icons ul {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 180px;
}

.icons ul li {
    color: var(--color-brown);
    font-size: 2.5rem;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    left: 0;
    position: relative;
    background-color: transparent;
    line-height: 2.5rem;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    margin: 10px 15px;
}

.icons ul li:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: var(--color-brown);
    height: 100%;
    width: 100%;
    z-index: -1;
    transform: scale(0.9);
    transition: .5s;
}

.icons ul li:hover:before {
    transform: scale(1.2);
    filter: blur(2.5px);
    box-shadow: 0 0 15px var(--color-brown);
}

.icons ul li:hover {
    color: var(--color-light-green);
    box-shadow: 0 0 15px var(--color-brown);
    text-shadow: 0 0 15px var(--color-brown);
}

.footer p {
    font-size: 10px;
    padding-right: 20px;
    color: var(--color-brown);
}


/*-------------------- Responsividade --------------------*/

@media (max-width: 999px) {
    .navbar .menu ul {
        display: none;
    }
    .active {
        transition: 5s;
    }
    .navbar.active .menu {
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 10;
        position: absolute;
        background-color: var(--color-light-green);
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        flex-direction: column;
    }
    .navbar.active .menu ul {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        flex-direction: column;
    }
    .navbar .menu ul li {
        padding: 2rem 0px;
    }
    .navbar.active .burgue .closeMenu {
        display: flex;
        z-index: 999999;
        position: relative;
    }
    .openMenu {
        display: flex;
    }
    .navbar.active .openMenu {
        display: none;
    }
    .navbar .menu ul li a {
        font-size: 1.6rem;
    }
}